.cartItem{
    display: flex;
    color: #000000;
    margin: 20px;
}

.cartItem img{
    width: 100px;
    height: 70px;
    margin-right: 10px;
}
@media screen and (max-width: 950px){}

@media screen and (max-width: 667px){
    .cartItem img{
        width: 50px;
    }
}